name: Build ARC runner Image

on:
  push:
    branches:
      - "main"

env:
  DOCKER_REPO: ghcr.io
  DOCKER_USER: ${{ github.actor }}
  DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
  IMAGE_NAME: ${{ github.repository }}
  WF_IMAGE_TAG: "wf-${{ github.run_id }}"

jobs:

  build-tag-push:
    runs-on: [self-hosted, linux, x64]
    permissions:
      contents: read
      packages: write
    env:
      DOCKER_REPO: ghcr.io
      DOCKER_USER: ${{ github.actor }}
      DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      IMAGE_NAME: ${{ github.repository }}
      WF_IMAGE_TAG: "wf-${{ github.run_id }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Log in, build, and push
        run: |
          docker build --tag ${IMAGE_NAME}:${WF_IMAGE_TAG} .
          docker save -o ${WF_IMAGE_TAG}.tar ${IMAGE_NAME}:${WF_IMAGE_TAG}
          echo "${DOCKER_PASSWORD}" | skopeo login -u ${DOCKER_USER} --password-stdin ${DOCKER_REPO}
          skopeo copy docker-archive://${PWD}/${WF_IMAGE_TAG}.tar docker://${DOCKER_REPO}/${IMAGE_NAME}:${WF_IMAGE_TAG}
